#banner
	.banner_content
		%h1 NoteBook
		%p Your online notebook. Never forget an idea again.
		%button= link_to 'Sign Up', new_user_registration_path

#testimonial
	.wrapper
		%p.quote 'So easy to sign up, so easy to use.'
		%p.name 'Shawn Kearney'

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-bookmark
				%h2 Notes
				%p Poutine XOXO chicharrones, bushwick banh mi squid scenester roof party distillery. Bespoke kickstarter put a bird on it, dreamcatcher ramps yr health goth pinterest XOXO.
			.callout
				%i.fa.fa-calendar
				%h2 Notes
				%p Poutine XOXO chicharrones, bushwick banh mi squid scenester roof party distillery. Bespoke kickstarter put a bird on it, dreamcatcher ramps yr health goth pinterest XOXO.
			.callout
				%i.fa.fa-book
				%h2 Notes
				%p Poutine XOXO chicharrones, bushwick banh mi squid scenester roof party distillery. Bespoke kickstarter put a bird on it, dreamcatcher ramps yr health goth pinterest XOXO.

#bottom_cta
	.wrapper
		%h2 Convinced Yet?
		%p I want you to sign up... If you don't, I will find you!
		%button= link_to 'Sign Up', new_user_registration_path

%footer
	%p &copy; Shawn Kearney